.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
}
body{
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
div{
  
    height: 200px;
    width: 25%;
    display: flexbox;
    box-shadow: 5px 5px 5px 5px rgb(158, 154, 154);
}
.supervisor{
 
    border-top: 3px solid hsl(180, 62%, 55%) ;
    position: absolute;
    left: 5%;
    top: 40%;

}
.teambuilder{
    border-top: 3px solid hsl(0, 78%, 62%) ;
    position: absolute;
left: 35%;
top: 20%;
}
.karma{
    border-top: 3px solid hsl(34, 97%, 64%) ;
position: absolute;
left: 35%;
top: 60%;
}
.calculator{
    border-top: 3px solid hsl(212, 86%, 64%) ;
    position: absolute;
    left: 65%;
    top: 40%;

}
img{
    margin-left: 50%;
    margin-top: 20px;
}
p{
    color: hsl(229, 6%, 66%);
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

@media screen and (max-width:850px){
    div{
        width: 50%;
    }
    .supervisor{
       top:25%;
       left: 25%;
    }
    .teambuilder{
        left: 25%;
        top: 60%;
    }
    .karma{
        left: 25%;
        top: 95%; 
    }
    .calculator{
        left: 25%;
        top: 130%;
    }
}